body{
	display: block;
	margin: 0 auto;
	height: 100vh;
	padding: 40px;
	background-color: #212121;
}

h1 {
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
	color: rgba(255,255,255, .8);
}

canvas {
	margin: auto;
	display: block;
	/*border: 7px solid black;*/
}

#controls {
	width: 425px;
	margin: 40px auto 0;
}

.btn-primary{
}

.btn-success{
}

.input-group-addon{
	width: 75px;
}

.input-group-size{
	width: 120px;
	display: inline-table;
	vertical-align: top;
}

.input-group-density{
	width: 120px;
	display: inline-flex;
	vertical-align: top;
}


