body{
	display: block;
	margin: 0 auto;
	height: 100vh;
	padding: 40px;
}

h1 {
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
}

canvas {
	margin: auto;
	display: block;
	border: 7px solid black;
}

#controls {
	width: 305px;
	margin: 40px auto 0;
}

.btn-primary{
}

.btn-success{
}

.input-group-addon{
	width: 75px;
}

.input-group-size{
	margin-left: 100px;
	width: 120px;
	display: inline-table;
	vertical-align: top;
}

.input-group-density{
	width: 120px;
	display: inline-flex;
	vertical-align: top;
}


